.code {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  padding: 20px;

  /* font: 500 15px "Poppins", sans-serif; */
  font-family: "Consolas", "Courier New", monospace;
  font-size: "14px";

  background-color: #1c191e;

  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
